.home-container {
  display: flex;
  gap: 1rem;
}

.home-div {
  display: flex;
  flex-direction: column;
  width: 94%;
  height: 100%;
  gap: 1rem;
}

@media screen and (max-width: 1300px) {
  .home-div {
    width: 93%;
  }
}

@media screen and (max-width: 1100px) {
  .home-div {
    width: 92%;
  }
}

@media screen and (max-width: 950px) {
  .home-div {
    width: 90%;
  }
}

@media screen and (max-width: 800px) {
  .home-container {
    flex-direction: column;
  }

  .home-div {
    width: 100%;
  }
}

@media screen and (max-width: 450px) {
}
