.searchbar-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.searchbar-input {
    background-color: transparent;
    border: none;
    width: auto;
    padding: 0.5rem;
    width: 50%;
}
